Validação.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://127.0.0.1:5500"
           xmlns="http://127.0.0.1:5500"
           elementFormDefault="qualified">
<xs:element name="site">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Home">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Previously">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Figure" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="image">
                                                    <xs:complexType>
                                                        <xs:attribute name="src" type="xs:string" use="required"/>
                                                        <xs:attribute name="height" type="xs:string" use="required"/>
                                                        <xs:attribute name="alt" type="xs:string" use="required"/>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="title" type="xs:string"/>
                                                <xs:element name="paragraph" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Dados">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="olympic_records">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="section">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="title" type="xs:string"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="medal_table">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="subtitle" type="xs:string"/>
                                                <xs:element name="description" type="xs:string"/>
                                                <xs:element name="countries">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="country" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="name" type="xs:string"/>
                                                                        <xs:element name="gold" type="xs:int"/>
                                                                        <xs:element name="silver" type="xs:int"/>
                                                                        <xs:element name="bronze" type="xs:int"/>
                                                                        <xs:element name="total" type="xs:int"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="top_medalists">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="subtitle" type="xs:string"/>
                                                <xs:element name="description" type="xs:string"/>
                                                <xs:element name="medalists">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="medalist" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="name" type="xs:string"/>
                                                                        <xs:element name="country" type="xs:string"/>
                                                                        <xs:element name="sport" type="xs:string"/>
                                                                        <xs:element name="gold" type="xs:int"/>
                                                                        <xs:element name="silver" type="xs:int"/>
                                                                        <xs:element name="bronze" type="xs:int"/>
                                                                        <xs:element name="total" type="xs:int"/>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Atletas">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="athlete" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="xs:string"/>
                                    <xs:element name="image">
                                        <xs:complexType>
                                            <xs:attribute name="src" type="xs:string" use="required"/>
                                            <xs:attribute name="alt" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="biography" type="xs:string"/>
                                </xs:sequence>
                                <xs:attribute name="id" type="xs:string" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Modalidade">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sport" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="name" type="xs:string"/>
                                    <xs:element name="image">
                                        <xs:complexType>
                                            <xs:attribute name="src" type="xs:string" use="required"/>
                                            <xs:attribute name="alt" type="xs:string" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="curiosities">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="curiosity" type="xs:string" maxOccurs="unbounded"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>